body{
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center; */
}
button:hover{
    background-color: #2b9AAd;
    color: white;
}
canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 480px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}