body {
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title{
    font-family: "Press Start 2P";
}

.mainScreen{
    position: relative;
    height: 480px;
    width: 480px;
}

#startButton {
    font-size: 20px;
    width: 120px;
    font-family: sans-serif;
    padding: 10px;
    background: blanchedalmond;
    border-radius: 10px;
    color: maroon;
    border: 5px solid maroon;
    font-weight: bold;
    position: relative;
    bottom: 250px;
    box-shadow: 5px 10px 18px #888888;
}

#startButton:hover{
    /* background-color: rgb(59, 137, 240); */
    background-color: maroon;
    color: blanchedalmond;
    cursor: pointer;
}

canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-width: 480px;
    border-radius: 10px;
    display: block;
}

.icons{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 20px;
    font-size: 35px;
}

.icons a{
    color: rgb(29, 196, 101);
}

.icons a:hover{
    color: rgb(161, 255, 161);
}

#backBox{
    position: absolute;
    top: 240px;
    background-color: blanchedalmond;
    border: 5px solid maroon;
    border-radius: 20px;
    width: 320px;
    height: 220px;
}

.selectionTitle{
    font-family: "Press Start 2P";
    color: black;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    position: absolute;
    top: 240px;
}

.charSelection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    position: absolute;
    top: 320px;
}

.charSelection > img{
    margin: 10px;
    background: none;
    border: none;
    transition: transform .2s;
}

.charSelection > img:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.endScreen {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 290px;
    font-weight: bold;
    top: 250px;
}

.endScreen > div{
    margin-top: 7px;
}

.endButtons{
    font-family: "Press Start 2P";
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    top: 370px;
    width: 300px;
    position: absolute;
}

.endButton{
    background-color: maroon;
    border: 5px solid blanchedalmond;
    border-radius: 20px;
    padding: 7px;
    margin: 4px;
}

.endButton:hover{
    background-color: white;
    border-color: maroon;
    color: maroon;
    cursor: pointer;
}